
/* USER STYLES */

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--header-height);
	border-bottom: var(--light-gray-color) 1px solid;
	background-color: var(--white-color);
	z-index: 11;
	transition: transform .3s ease, height .3s ease;
}

.header__container {
	margin: 0 auto;
	height: 100%;
	display: flex;
}

.header__logo {
	position: absolute;
	top: 0;
	display: block;
	width: auto;
	height: 100%;
}

.header__logo img {
	height: 100%;
	width: auto;
	transition: all .3s ease;
}

.header__menu {
	display: flex;
	width: 100%;
	height: 50px;
	margin-top: auto;
}

body.navigation__fixed {
	--header-height: 75px;
}

body.navigation__hidden .header {
	transform: translateY(-100%);
}

.menu__body	{
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-left: 100px;
	background-color: var(--white-color);
}


.menu__body a:hover {
	color: var(--black-color);
}

.menu__list {
	display: flex;
	margin: 0;
	padding-left: 40px;
	gap: 40px;
}

.menu__link {
	display: flex;
	height: 100%;
	align-items: center;
	flex-wrap: nowrap;
	position: relative;
}

.menu__list-item a {
	position: relative;
}

.menu__link::after {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 1px;
	background-color: var(--black-color);
	transform: translateY(10px) scale(0);
	transition: transform 0.1s ease;
	z-index: 2;
}

.menu__link:hover::after {
	transform: translateY(10px) scale(1);
}

.menu__icons {
	display: flex;
	margin: 0;
	padding: 0;
}

@media (max-width: 1400px) {
	
	.menu__icons {
		margin-right: 20px;
	}
}

.menu__icons > li {
	margin-left: 40px;
}

.menu__icons > li:last-child {
	margin-left: 5px;
}


.menu__icons__link {
	display: flex;
	height: 100%;
	align-items: center;
}

.menu__sub-list {
	position: absolute;
    display: flex;
    top: calc(var(--header-height) - 2px);
	left: 0;
    gap: 60px;
    opacity: 0;
    pointer-events: none;
	transform: translateY(15px);
    transition: all 0.3s ease;
    width: 100vw;
    flex-wrap: wrap;
	min-width: 300px;
	padding: 50px calc((100vw - var(--container-width)) / 2);
	z-index: 100;
	background-color: var(--white-color);
}

@media (max-width: 1400px) {
	
	.menu__sub-list {
		padding: 50px 15px;
	}
}

.menu__sub-list:before {
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	width: calc(100vw * 2);
	background-color: var(--white-color);
	left: -100vw;
	top: 3px;
	z-index: 1;
}

.menu__list-item:hover .menu__sub-list {
	opacity: 1;
	pointer-events: all;
	transform: translateY(0);
}

.menu__list-item:hover .menu__sub-list li {
	z-index: 2;
}

.menu__sub-link {
	font-size: 12px;
	position: relative;
}

.menu__sub-link::after {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 1px;
	background-color: var(--black-color);
	transform: translateY(2px) scale(0);
	transition: transform 0.1s ease;
}

.menu__sub-link:hover::after {
	transform: translateY(2px) scale(1);
}

.menu__sub-items {
	padding-left: 0;
	margin-top: 20px;
}

.menu__sub-item {
	padding-top: 5px;
}

.sub-list-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



/* mobile */


.mobile_menu-icon {
	width: 40px;
	height: 20px;
	cursor: pointer;
	background-color: transparent;
	border: none;
	position: relative;
	display: none;
	margin-left: auto;
	margin-right: 10px;
}

.mobile_menu-icon::before,
.mobile_menu-icon::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 2px;
	background-color: var(--black-color);
	transition: transform 0.1s ease;
}

.mobile_menu-icon::after {
	top: auto;
	bottom: 0;
}

.mobile_menu-icon span {
	position: absolute;
	right: 0;
	top: 50%;
	transform: scale(1) translateY(-50%);
	transition: transform 0.1s ease;
	width: 100%;
	height: 2px;
	display: inline-block;
	padding-right: 10px;
	background-color: var(--black-color);
}

.mobile_menu-icon._active span {
	transform: scale(0);
}

.mobile_menu-icon._active::before {
	top: 50%;
	transform: rotate(-45deg) translateY(-50%);
}

.mobile_menu-icon._active::after {
	bottom: 50%;
	transform: rotate(45deg) translateY(50%);
}


@media (max-width: 992px) {

	.header__logo img{
		height: var(--header-height);
		width: 75px;
	}

	.header__menu {
		margin-top: 25px;
	}

	.mobile_menu-icon {
		display: block;
	}

	.menu__icons {
		display: none;
	}

	.menu__body {
		position: absolute;
		left: 0;
		top: 75px;
		width: 100%;
		z-index: 100;
		padding-left: 0;
		overflow-x: hidden;
		transform: translateX(-150vw);
		max-height: calc(100vh - var(--header-height));
		overflow: auto;
	}

	.menu__list {
		flex-direction: column;
		padding-top: 30px;
		padding-right: 40px;
		gap: 0;
		width: 100%;
	}

	.menu__body._active {
		transform: translateX(0);
	}

	.menu__link {
		height: 50px;
		padding-top: 15px;
		display: block;
	}
	
	.menu__link:hover::after {
		display: none;
	}

	.menu__sub-list {
		position: relative;
		top: auto;
		left: auto;
		padding: 0;
		margin-right: 0;
		flex-direction: column;
		gap: 0;
		width: calc(100vw - 80px);
		max-height: 0;
		overflow: hidden;
		opacity: 1;
		visibility: visible;
	}

	.menu__sub-list:before {
		display: none;
	}

	.menu__list-item.opened .menu__sub-list {
		max-height: 100%;
	}

	.menu__sub-list-item {
		height: 50px;
		margin-left: 10px;
	}

	.menu__sub-link	{
		display: block;
		height: 50px;
		padding-top: 15px;
	}

	.menu__sub-items {
		display: none;
	}


}


