/* logos */

.logos {
	background-color: var(--white-color);
}

/* .logos__inner {
	width: var(--container-width);
	max-width: 100%;
}	 */

.logos__inner-items-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 40px;
}

.logos__inner-item {
	width: 120px;
	height: 120px;
	display: grid;
	align-items: center;
	justify-content: center;
	position: relative;
}

@media (max-width: 992px) {
	.logos__inner {
		padding: 20px 30px;
	}
}